@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*  desktop nav */

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items:center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: #000;
    text-decoration: none;
    text-decoration-color: #fff;
}

a:hover {
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(188, 188, 188);
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

/* hamburger menu  */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 20px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 20%;
    background-color: #000;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all;
}

.menu-links a {
    text-decoration: none;
    color: gray;
    text-decoration-line: underline;
    text-decoration-color: grey;
}

.menu-links li {
    list-style: none;
}
